@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@1,1000&family=PT+Serif&family=Young+Serif&display=swap');

p{
color: wheat;
font-family: "Mulish";
}

body {
    /** Ruta de la imagen */
    background-image: url('../assets/imgs/siuuu.jpg');
    /** Cubrir toda el área del body */
    background-size: cover;
    /** Evitar que la imagen se repita */
    background-repeat: no-repeat;
    /** Hacer que la imagen este fija */
    background-attachment: fixed;

}

@keyframes moverImagen {
    from {
        transform: translateX(-100);
    }
    to{
        transform: translateX(1000%);
    }   
}

.micochecito{
    width: 150px;
    height: 100px;
    background-image: url(../assets/imgs/download.png);
    background-size: cover;
    animation: moverImagen 4s linear infinite;
}

h1{
    font-size: 4rem;
    position: absolute;
}

.ola {
    color: #09f;
    animation: ola 3s ease-in-out infinite;
}

.borde{
    color: black;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, 1px 1px 0 white, -1px 1px 0 white;
}

@keyframes ola {
    0%,
    100% {
        clip-path: polygon(0% 47%, 10% 48%, 33% 54%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100% );
    }
    50%{
        clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100% );

    }
}

span{
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 54ch;

    overflow: hidden;

    animation: typing 5s steps(54), blink 1s infinite step-end alternate;
}

@keyframes typing {
    from { 
        width: 0; 
    }
}

@keyframes blink {
    50% { border-color: transparent; }
}